__pycache__/
*.pyc
venv/
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GuruFrontend.slnx/FileContentIndex/70ce2436-b44f-46f4-ac00-59863a5794fb.vsidx
.vs/GuruFrontend.slnx/v18/.wsuo
.vs/GuruFrontend.slnx/v18/DocumentLayout.backup.json
.vs/GuruFrontend.slnx/v18/DocumentLayout.json
